/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
docker-compose.override.yml
.DS_Store
.DS_Store/*
/.DS_Store
storage/debugbar
/public/js/*
/public/mix-manifest.json
/public/js/app.js
public/js
public/js/*
package-lock.json
_ide_helper.php
_ide_helper_models.php
storage/media-library/
/vite.config.js
public/file/service-account-file.json
.env
/storage/